<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('hero.png') %>);">
  <div class="container">
    <h1 class="card-title pb-4 text-muted"><%= t('home.title') %></h1>
    <h3 class="card-text text-muted"><%= t('home.subtitle') %></h3>
  </div>
</div>

<div class="container p-4 camping-styple">
  <h2 class="header"><%= t('home.header') %></h2>
  <div class="cards">
    <%= link_to "#" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('glamping.png') %>)">
        <%= t('home.glamping') %>
      </div>
    <% end %>

    <%= link_to "#" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('private.png') %>)">
        <%= t('home.private') %>
      </div>
    <% end %>

    <%= link_to "#" do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('wild.png') %>)">
        <%= t('home.wild') %>
      </div>
    <% end %>
  </div>
</div>

<div class="container p-4 map">
</div>

<div class="container p-4">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('secret_spot.png') %>);">
    <div class="text-center">
      <h1 class="card-title"><%= t('home.share_your_secret') %></h1>
      <%= link_to t('home.post_a_campsite'), "#", class: "btn btn-white-bg" %>
    </div>
  </div>
</div>
